{% extends "phone_book/base.html" %}
{% load static %}

{% block page_css %}
<style>
.contacts-list-results-menu{
    background-color: white;
    border-radius: 0 0 5px 5px;
    max-height: 220px;
    overflow-y: scroll;
    text-align: left;
}
.contact-entry, .contact-entry-no-result{
    list-style-type: none;
    margin: 10px;
}
.contact-entry-anchor{
    text-decoration: none;
    color: black;
}
</style>
{% endblock %}

{% block page_content %}
<div style="width: 100%; text-align: center;">
    <div class="phone-book-container special-roboto">
        <div>
            <img src="{% static 'phone_book/images/absa.png' %}" class="absa-logo" >
        </div>
        <div class="uniform-text-color">
            <h2>{{user.name}} Phone Book</h2>
            <br>
        </div>
        <div>
            <div style="float: left;">
                <a href="{% url 'phone_book:index' %}" class="btn btn-default"><i class="glyphicon glyphicon-home" style="color: #2f4f4f;"></i></a>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#phone-book-edit-modal"><i class="glyphicon glyphicon-cog"></i></button>
            </div>
        </div>
        <div>
            <div class="uniform-text-color">
                <h2>Contact List</h2>
            </div>
            <br>
            <div style="float: left;">
                <p class="uniform-text-color">Number of contacts: {{contacts_list|length}}</p>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-contact-modal"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus-sign" style="color: brown;"></i></button>
            </div>
            <div style="clear: both;">
            </div>
            <br>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="contacts-search-bar" class="form-control" onkeyup="contact_lookup()" placeholder="Search name.." title="Type in a name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="display_all_contacts()">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="contacts-list-results-menu" class="contacts-list-results-menu" style="display: none;">
                {% if contacts_list %}
                <ul id="contacts-list"></ul>
                    {% for contact in contacts_list %}
                    <li class="contact-entry">
                        <a id="{{contact.id}}" class="contact-entry-anchor" href="#" data-toggle="modal" data-target="#contact-entry-modal" onclick="trigger_contact_popup('{{contact.id}}', '{{contact.name}}', '{{contact.number}}')">
                            <span>{{contact.name}}</span> <br> <span>{{contact.number}}</span>
                        </a>
                    </li>
                    <hr style="margin-top: 0px; margin-bottom: 0px;">
                    {% endfor %}
                </ul>
                <ul id="no-results" style="display: none;">
                    <li class="contact-entry-no-result">No contact found...</li>
                </ul>
                {% else %}
                <ul>
                    <li class="contact-entry-no-result">No contact in phone book...</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Create Contact Pop up -->
<div class="modal fade" id="create-contact-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9); padding: 20px;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Add New Contact</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:create_contacts' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="new-contact-phone-book-id" name="new-contact-phone-book-id" value="{{user.id}}">
                        <p><span class="modal-item-custom-style">Name:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="new-contact-name" name="new-contact-name" placeholder="Enter name..." required="required"></p>
                        <p><span class="modal-item-custom-style">Number:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="new-contact-number" name="new-contact-number" placeholder="Enter number..." required="required"></p>
                        <br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Save</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Pop up -->

<!-- Edit Phone Book Pop up -->
<div class="modal fade" id="phone-book-edit-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9); padding: 20px;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Edit Phone Book</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:edit_user_phone_book' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="phone-book-id" name="phone-book-id" value="{{user.id}}">
                        <p><span class="modal-item-custom-style">Name:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="phone-book-name" name="phone-book-name" value="{{user.name}}"></p>
                        <br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin: auto; margin-right: 15px;">Save</button>
                        <button type="button" class="btn btn-default" style="margin: auto; margin-right: 15px;" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" style="margin: auto;" data-toggle="modal" data-target="#phone-book-delete-modal">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Phone Book Pop up -->

<!-- Phone Book Delete Pop up -->
<!-- Modal -->
<div class="modal fade" id="phone-book-delete-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Delete Phone Book</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>Are you sure that you want to delete this phone book and all its contacts?</p>
                </div>
                <form action="{% url 'phone_book:delete_user_phone_book' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="phone-book-delete-id" name="phone-book-delete-id" value="{{user.id}}">
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Yes</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Phone Book Delete Pop up-->

<!-- Contact Entry Pop up -->
<script>
function trigger_contact_popup(passed_contact_id, passed_contact_name, passed_contact_number){
    document.getElementById('contact-id').value = passed_contact_id;
    document.getElementById('contact-name').innerHTML = passed_contact_name;
    document.getElementById('contact-number').innerHTML = passed_contact_number;
    document.getElementById('contact-call-operator').href = "tel:" + passed_contact_number;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-entry-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);  background-size: 50% 100%; background-position: right; background-repeat: no-repeat; min-width: 100%;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Contact Details</h3>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" style="display: none;" id="contact-id">
                    <p><i class="glyphicon glyphicon-user"></i> <span class="modal-item-custom-style">Name:</span> <span id="contact-name"></span></p>
                    <p><i class="glyphicon glyphicon-phone"></i> <span class="modal-item-custom-style">Number:</span> <span id="contact-number"></span></p>
                    <br>
                </div>
                <div>
                    <button type="button" class="btn btn-success" style="margin: auto; margin-right: 15px;"><a style="text-decoration: none; color: inherit;" id="contact-call-operator">Call</a></button>
                    <button type="button" class="btn btn-primary" style="margin: auto; margin-right: 15px;" data-toggle="modal" data-target="#contact-edit-modal" onclick="trigger_edit_popup()">Edit</button>
                    <button type="button" class="btn btn-danger" style="margin: auto;" data-toggle="modal" data-target="#contact-delete-modal" onclick="trigger_delete_popup()">Delete</button>
                </div>
            </div>
            <div class="modal-footer" style="border: none; width: 100%; text-align: center;">
                <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Entry Pop up-->

<!-- Contact Delete Pop up -->
<script>
function trigger_delete_popup(){
    document.getElementById('contact-delete-id').value = document.getElementById('contact-id').value;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-delete-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Delete Contact</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>Are you sure that you want to delete this contact?</p>
                </div>
                <form action="{% url 'phone_book:delete_contacts' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="contact-delete-id" name="contact-delete-id">
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Yes</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Delete Pop up-->

<!-- Contact Edit Pop up -->
<script>
function trigger_edit_popup(){
    document.getElementById('contact-edit-id').value = document.getElementById('contact-id').value;
    document.getElementById('contact-edit-name').value = document.getElementById('contact-name').innerHTML;
    document.getElementById('contact-edit-number').value = document.getElementById('contact-number').innerHTML;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-edit-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);  background-size: 50% 100%; background-position: right; background-repeat: no-repeat; min-width: 100%;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Edit Contact</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:edit_contacts' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="contact-edit-id" name="contact-edit-id">
                        <p><span class="modal-item-custom-style">Name:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="contact-edit-name" name="contact-edit-name"></p>
                        <p><span class="modal-item-custom-style">Number:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="contact-edit-number" name="contact-edit-number"></p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin: auto;">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border: none; width: 100%; text-align: center;">
                <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Edit Pop up-->
{% endblock %}

{% block page_js %}
<script>
function contact_lookup() {
    var input, filter, ul, li, a, i, txtValue;

    document.getElementById("no-results").style.display = "none";

    document.getElementById("contacts-list-results-menu").style.display = "";

    input = document.getElementById("contacts-search-bar");

    filter = input.value.toUpperCase();

    ul = document.getElementById("contacts-list");

    li = document.getElementsByClassName("contact-entry");

    var search_results_validator = false;

    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;

        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            search_results_validator = true;
        } else {
            li[i].style.display = "none";
        }
    }

    if (!(search_results_validator)) {
        document.getElementById("no-results").style.display = "";
    }
}

function display_all_contacts() {
    document.getElementById("contacts-list-results-menu").style.display = "";
    document.getElementById("contacts-search-bar").value = "";
    contact_lookup();
}
</script>
{% endblock %}