{% extends "phone_book/base.html" %}
{% load static %}

{% block page_css %}
<style>
.phone-book-user-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.phone-book-user-button{
    min-width: 150px;
}
</style>
{% endblock %}

{% block page_content %}
<div style="width: 100%; text-align: center;">
    <div class="phone-book-container special-roboto">
        <div>
            <img src="{% static 'phone_book/images/absa.png' %}" class="absa-logo" >
        </div>
        <div class="uniform-text-color">
            <h1> Phone Book </h1>
        </div>
        <div style="text-align: right;">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#phone-book-modal"><i class="glyphicon glyphicon-plus-sign" style="color: brown;"></i></button>
        </div>
        {% if users %}
            {% for user in users %}
            <div class="phone-book-user-container">
                <form action="{% url 'phone_book:contacts' %}" method="POST">
                    <input type="hidden" style="display: none;" id="user-id" name="user-id" value="{{user.id}}">
                    <button type="submit" class="btn btn-default phone-book-user-button">{{user.name}} Phone Book</button>
                </form>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Create Phone Book Pop up -->
<div class="modal fade" id="phone-book-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9); padding: 20px;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Create New Phone Book</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:index' %}" method="POST">
                    <div>
                        <p><span class="modal-item-custom-style">Name:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="user-name" name="user-name" placeholder="Enter name..." required="required"></p>
                        <br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Save</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Phone Book Pop up -->
{% endblock %}
